<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boiler Efficiency Prediction</title>

    <!-- CSS -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Boiler Efficiency Prediction System</h1>
        <p class="subtitle">
            Machine Learning based Boiler Performance Prediction
        </p>

        <form id="predictForm" class="form-box">

            <div class="form-group">
                <input type="number" step="any" name="feedwater_temp" required>
                <label>Feedwater Temperature (°C)</label>
            </div>

            <div class="form-group">
                <input type="number" step="any" name="feedwater_flow" required>
                <label>Feedwater Flow (t/h)</label>
            </div>

            <div class="form-group">
                <input type="number" step="any" name="steam_pressure" required>
                <label>Main Steam Pressure (MPa)</label>
            </div>

            <div class="form-group">
                <input type="number" step="any" name="steam_temp" required>
                <label>Main Steam Temperature (°C)</label>
            </div>

            <div class="form-group">
                <input type="number" step="any" name="coal_flow" required>
                <label>Coal Flow (t/h)</label>
            </div>

            <div class="form-group">
                <input type="number" step="any" name="oxygen_level" required>
                <label>Boiler Oxygen Level (%)</label>
            </div>

            <div class="form-group">
                <input type="number" step="any" name="flue_gas_temp" required>
                <label>Flue Gas Temperature (°C)</label>
            </div>

            <div class="form-group">
                <input type="number" step="any" name="gross_load" required>
                <label>Gross Load (MW)</label>
            </div>

            <button type="submit" class="btn">
                Predict Efficiency
            </button>
        </form>

        <div class="result-box">
            <h2>Predicted Boiler Efficiency</h2>
            <span id="efficiency">--</span>
        </div>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
